body, #nav{
 background-color: #3399ff;
}

table, th, td {
  border: 3px solid black;
  color: white;
}

form {
  width: 50%;
}

a:link {
  color: white;
}

.products-table img {
	width: 15rem;
	height: auto;
}

.FooterTable a:link, a:visited, a:hover, a:active
{
  color: black;   
}

.notices {
	text-align:center;
}


.searchtable {
	border: 0px;
	color: red;
}